<main class="index">
	<header class="masthead d-flex">
		<div class="container text-center my-auto">
			<h1 class="mb-1">
				Negocios
			</h1>
			<div>
			<h5 class="mb-5">
				<em>Busca negocios y contacta con ellos</em>
			</h5>
			<a href=""></a>
			</div>
			<hr>
			<div>
			<h5 >Agrega tus negocios y espera a que te contacten
			</h5>
			<div>
			<a href="/api/crearuser">Registrate</a>
			<p>ó</p>
			<a href="/api/loginuser">Inicia Sesión</a>
			</div>
			</div>
		</div>
	</header>
</main>