<div class="container p-4">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card text-center">
				<div class="cars-body">
					<h3>Welcome {{user.Primer_nombre}} {{user.Primer_apellido}}</h3>
					<a href="/api/postnegocios" class="btn btn-primary m-4">
						Agregar nuevo negocio
					</a>
				</div>
			</div>
		</div>
	</div>
</div>